### Question 1

In [2]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
import statistics as st

# min 
print("min: ", min(ages))
# max
print("max: ", max(ages))
# median
print("median: ", st.median(ages))
# mean
print("mean:", sum(ages)/len(ages))
# ramge
print("range: ", max(ages)-min(ages))

min:  19
max:  26
median:  24.0
mean: 22.8
range:  7

### Question 2

In [3]:
dog = {}
dog["Name"] = "Fido"
dog["Color"] = "Black"
dog["Breed"] = "Bulldog"
dog["Legs"] = 4
dog["Age"] = 5

In [4]:
student = {}
student["First"] = "Luke"
student["Last"] = "Wengler"
student["Gender"] = "Man"
student["Age"] = 21
student["Marital_Status"] = "Single"
student["Skills"] = ["Guitar", "Python", "Communication"]
student["Country"] = "United States"
student["City"] = "Kansas City"
student["Address"] = "1234 East St"

In [5]:
len(student)

9

In [6]:
print(student['Skills'])
type(student['Skills'])

['Guitar', 'Python', 'Communication']

list

In [7]:
student['Skills'].extend(["Weightlifting"])
student['Skills']

['Guitar', 'Python', 'Communication', 'Weightlifting']

In [11]:
print(list(student.keys()))
print(list(student.values()))

['First', 'Last', 'Gender', 'Age', 'Marital_Status', 'Skills', 'Country', 'City', 'Address']
['Luke', 'Wengler', 'Man', 21, 'Single', ['Guitar', 'Python', 'Communication', 'Weightlifting'], 'United States', 'Kansas City', '1234 East St']

### Question 3

In [12]:
sisters = ('Jenna', 'Caroline')
brothers = ('Johnny', 'Caden')

In [14]:
siblings = sisters + brothers
siblings

('Jenna', 'Caroline', 'Johnny', 'Caden')

In [15]:
len(siblings)

4

In [16]:
parents = ("Angie", "Don")
family_members = siblings + parents
family_members

('Jenna', 'Caroline', 'Johnny', 'Caden', 'Angie', 'Don')

### Question 4

In [28]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [29]:
len(it_companies)

7

In [30]:
it_companies.add("Twitter")

In [31]:
it_companies.update('Nvidia','X')

In [33]:
it_companies.remove("Google")

In [34]:
# Discard will not raise a key error if used when the element is not in the set

In [39]:
# Union
A | B

{19, 20, 22, 24, 25, 26, 27, 28}

In [40]:
# Intersection
A & B

{19, 20, 22, 24, 25, 26}

In [42]:
# Is A c B?
A.issubset(B)

True

In [43]:
# If they were disjoint, their intersection would have no elements
len(A & B) == 0

False

In [44]:
# They are the same!
print(A | B)
print(B|A)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [46]:
A.symmetric_difference(B)

{27, 28}

In [47]:
del A 
del B

In [51]:
print('length of list:', len(ages))
print("set: ", set(ages))
print('length of set: ', len(set(ages)))

length of list: 10
set:  {19, 20, 22, 24, 25, 26}
length of set:  6

### Question 5

In [1]:
import math
radius = 30
_area_of_a_circle_= math.pi * math.pow(radius,2)
print(_area_of_a_circle_)
_circum_of_circle_ = 2*math.pi*radius
print(_circum_of_circle_)

r = int(input("What is the radius of your circle?"))
print("The area is: ", math.pi * math.pow(r,2))
print("The circumference is: ", 2*math.pi*r )

2827.4333882308138
188.49555921538757
The area is:  50.26548245743669
The circumference is:  25.132741228718345

### Question 6

In [4]:
sentence = "I am a teacher and I love to inspire and teach people"

words = sentence.split(" ")

print("There are",len(words), "words in the sentence")

There are 12 words in the sentence